Successfully created new person:
<p>
  <b>Name:</b> <%= person.name %>
  <br>
  <b>Age:</b> <%= person.age %>
  <br><a href='/public/personform.html'>Create a new person</a>
  <br><a href='/all'>Show all</a>
</p>